/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body{
  background-color:  #383838;

}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: maroon;
  font-family: 'Oswald';
  color: white;            
}

.navbar-expand-lg{
  background-color:maroon;
}

nav a{
  color: white;
  font-weight: bold;
  font-family: 'Oswald';
}


.column{
  float: left;
  padding: 5px;
}

.box{
  font-family: 'Oswald';
  color: maroon;
  text-align: center;
  vertical-align: middle;
  padding-top: 12%;
}

.aboutbox{
    color: maroon;
    background-color: white;
    border-style: solid;
    text-align: center;
    padding: 3%;
    font-family: 'Oswald';
    margin-top: 8%;
    margin-left: 25%;
    width: 50%;
}

.aboutbox img{
  float: left;
  width: 25%;
}

nav .dropdown-menu{
  background-color: maroon;
}

nav .dropdown-menu a{
  color: white;
  font-weight: bold;
}

.s1body, .s1profile, .s1table{
  font-family: 'Oswald';
  color: maroon;
}

.s1body h1 {
  text-align: center;
}

.s1profile{
  border: 3px inset maroon;
  text-align: left;
}

.s1profile img{
  width: 18%;
  float: left;
}
.s1table{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.s1table table, th, td{
  border: 1px solid maroon;
  border-collapse: collapse;
  padding: 10px;
}

.s1table table{
  width: 100%;
  
}

.s1table tr:hover{
  background-color: grey;
}

    