.bioprof{
    margin-top: 4vh;
}
.bio1{
    margin-left: 1vh;
}
.bio2{
    margin-left: 1vh;
}

.rect{
    width: 100%;
    color: tomato;
    background-color: #c4c4c4;
    font-family: 'Montserrat';
    font-weight: bolder;
    border-radius: 10px;
    text-align: left;
    margin-left: 1vh;
}

.navbar-custom{
    background-color: #c4c4c4;
}
.navbar-custom .navbar-text{
    color:tomato;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

body { 
    background-color: #383838; 
}

th { background-color: #FF6347;
    color: white; }
tr:hover{
    background-color: white;
}

.table {
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;
    background-color: #c4c4c4;
    width: 100%;
}

.row{
    margin-top: 4vh;
}

.socmed{
    font-weight: bold;
    font-family: 'Montserrat';
    color: #FF6347;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.gal_title{
    font-weight: bold;
    font-family: 'Montserrat';
    color: #FF6347;
    text-align: center;
    margin-top: 16vh;
    size: 200%;
    
    
}

.label:after{
    content: "Welcome to My Gallery";
    font-size: x-large;
}
.label:hover:after{
    content:'Willkommen in Meiner Galerie';
}
.column{
        float: left;
        width: 33.33%;
        padding: 5px;
}
