{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>about</title>
{% endblock meta %}

{% block content %}
<div class="aboutbox">
    <img src="{% static 'img/CN06.jpg' %}">
    <p>Nama : Ahmadar Rafi Moreno</p>
    <p>TTL : Jakarta, 4 Juni 2001</p>
    <p>Pekerjaan : Mahasiswa</p>
    <p>Kuliah : Universitas Indonesia</p>
    <p>Bidang Studi : Ilmu Komputer</p>
</div>
  
{% endblock content %}