{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Homepage</title>
{% endblock meta %}

{% block content %}
<div class="box">
    <h2>WELCOME</h2>
    <h3>This Is Rafi Moreno's PPW Website</h3>
</div>
{% endblock content %}
