{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 1</title>
{% endblock meta %}

{% block content %}
<div class="s1body">
<h1>Selamat Datang di Profile Saya!</h1><div class="profile">
    <div class="s1profile">
        <img src="{% static 'imgstory1/IMG_20190809_1756332.jpg' %}">
        <p>Nama : Ahmadar Rafi Moreno</p>
        <p>NPM : 1906398540</p>
        <p>Angkatan : 2019</p>
        <p>Kuliah : Universitas Indonesia</p>
        <p>Hobi : Nonton Film, Bermain Game</p>
        <p>Deskripsi Saya : Seorang kelahiran 2001 yang sering tidur dan bercita-cita ingin mempunyai perusahaan sendiri</p>
    </div>
    <div class="s1table">
        <h2>Tabel Riwayat Pendidikan</h2>
        <table>
            <tr>
                <th>Jenjang</th>
                <th>Nama Sekolah</th>
              </tr>
              <tr>
                <td>SD</td>
                <td>SD Al-Azhar 17 Bintaro</td>
              </tr>
              <tr>
                <td>SMP</td>
                <td>SMP Al-Azhar 3 Bintaro</td>
              </tr>
              <tr>
                <td>SMA</td>
                <td>SMA Negeri 34 Jakarta</td>
            </tr>
            <tr>
                <td>Perguruan Tinggi</td>
                <td>Universitas Indonesia</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}